Django>=5
gunicorn
python-decouple
psycopg[binary]
dj-database-url
requests
whitenoise
django-allauth[socialaccount]
django-widget-tweaks
django-allauth-ui==0.3.6
stripe
# DATABASES = {
#     'default': {
#         'ENGINE': 'django.db.backends.sqlite3',
#         'NAME': BASE_DIR / 'db.sqlite3',
#     }
# }


# DATABASE_URL = config('DATABASE_URL', cast=str)
# if DATABASE_URL is not None:
#     import dj_database_url

#     DATABASES = {
#         'default': dj_database_url.config(default=DATABASE_URL, conn_health_checks=True, conn_max_age=30)
#     }
# # Add these at the top of your settings.py

# # DATABASES = {
# #     'default': {
# #         'ENGINE': 'django.db.backends.postgresql',
# #         'NAME': config('DB_NAME'),
# #         'USER': config('DB_USER'),
# #         'PASSWORD': config('DB_PASSWORD'),
# #         'HOST': config('DB_HOST'),
# #         'PORT': 5432,
# #     }
# # }